.video-container {
  margin: 0 auto;
  width: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.video-wrap {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: url(img/video.jpg) no-repeat center center/cover;
}

video {
  min-width: 50%;
  min-height: 50%;
  position: absolute;
}




